.dashboardLayout {
    display: flex;
    background: linear-gradient(180deg, #ebf0ff 2.64%, #fff 99.44%);
    height: 100vh;
}

.mainArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: var(--sidebar-width);
    transition: margin-left var(--sidebar-transition);

    ;

    &.expanded {
        margin-left: var(--sidebar-collapsed-width);
    }
}

.content {
    flex: 1;
    overflow-y: auto;
}