.datasetBanner {
    width: 100%;
    border: none;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    z-index: 10;
}

.fileInfo {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    /* var(--cursor-pointer) yerine */
}

.dbIconWrapper {
    width: 42px;
    height: 42px;
    background-color: #A7FBC3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #10B981;
    /* var(--color-green) */
}

.fileText {
    display: flex;
    flex-direction: column;
}

.fileLabel {
    font-size: 0.85rem;
    font-weight: 600;
    color: #323039;
    /* var(--color-text-dark) */
}

.fileName {
    font-size: 0.85rem;
    color: #797C84;
    /* var(--color-text-soft) */
}

/* Canvas Button Styles */
.canvasBtnWrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    z-index: 1;
    transition: transform 120ms ease;

    &:active {
        transform: scale(0.95);
    }
}

.canvasSideIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: auto;
    pointer-events: none;
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.15));
    z-index: 3;
}

.canvasLeftIcon {
    left: -20px;
    top: 65%;
}

.canvasRightIcon {
    right: -20px;
    top: 45%;
}

.canvasBtn {
    background: linear-gradient(90deg, #5C85FF 0%, #FF4343 100%);
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 12px rgba(219, 39, 119, 0.2);
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(1.1);
    }
}