.datasetBanner {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e8ebf2;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    z-index: 10;
}

.fileInfo {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    /* var(--cursor-pointer) yerine */
}

.dbIconWrapper {
    width: 42px;
    height: 42px;
    background-color: #A7FBC3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #10B981;
    /* var(--color-green) */
}

.fileText {
    display: flex;
    flex-direction: column;
}

.fileLabel {
    font-size: 0.85rem;
    font-weight: 600;
    color: #323039;
    /* var(--color-text-dark) */
}

.fileName {
    font-size: 0.85rem;
    color: #797C84;
    /* var(--color-text-soft) */
}