.heroText {
    text-align: center;
}

.heroTitle {
    font-size: 2rem;
    font-weight: 400;
    color: #323039;
    margin-bottom: 12px;
}

.heroSubtitle {
    font-size: 1.1rem;
    color: #797C84;
}