.userMessage {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.messageContent {
    max-width: 75%;
    padding: 14px 20px;
    background: #f8f9fc;
    border-radius: 20px 20px 4px 20px;
    color: #323039;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #e8ebf2;
    word-wrap: break-word;
    word-break: break-word;
    box-shadow: 0 1px 8px rgba(80, 124, 255, 0.249);
}